<div class="container">
  <div class="box">
    <div class="box-title">
      <h2>Address Details</h2>
    </div>
    <div class="box-body">
      <div class="row" style="margin-left:11%">
        <div *ngFor="let form of addressForm;let i=index" [ngClass]="{'pull-left': i===0,'pull-right':i===1}">
          <form [formGroup]="addressForm[i]" (ngSubmit)="next()" id="form[{{i}}]">

            <div class="col-lg-10">
              <div class="text-center title">
                <h4>{{formTitles[i]}}</h4>
              </div>

              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4">Street/ House No./ Village
                  </label>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" formControlName="hometown" required />
                    <div *ngIf="submitted && formControls(i).hometown.invalid">
                      <div>
                        <p *ngIf="formControls(i).hometown.errors.required" class="error">
                          {{validationMessages.RequiredField}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4">Country
                  </label>
                  <div class="col-lg-6">
                    <select id="country" formControlName="country" ngModel id="country[i]" class="form-control"
                      (change)="getStates(i)" required>
                      <option value="" disabled>--select country--</option>
                      <option *ngFor="let country of countries"
                        value='{"id":"{{country.id}}","name":"{{country.name}}"}'>
                        {{country.name}}</option>
                    </select>
                    <div *ngIf="submitted && formControls(i).country.invalid">
                      <div>
                        <p *ngIf="formControls(i).country.errors.required" class="error">
                          {{validationMessages.RequiredField}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4">State
                  </label>
                  <div class="col-lg-6">
                    <select id="country" formControlName="state" ngModel id="state[i]" class="form-control"
                      (change)="getCities(i)" required>
                      <option value="" selected>--select state--</option>
                      <option *ngFor="let state of states[i]" value='{"id":"{{state.id}}","name":"{{state.name}}"}'>
                        {{state.name}}</option>
                    </select>
                    <div *ngIf="submitted && formControls(i).state.invalid">
                      <div>
                        <p *ngIf="formControls(i).state.errors.required" class="error">
                          {{validationMessages.RequiredField}}
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4">City
                  </label>
                  <div class="col-lg-6">
                    <select id="country" formControlName="city" class="form-control">
                      <option value="">--select city--</option>
                      <option *ngFor="let city of cities[i]" value="{{city.name}}">
                        {{city.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4">Pin Code
                  </label>
                  <div class="col-lg-6">
                    <input type="text" formControlName="pincode" id="pincode[i]" class="form-control" pattern="^\d{6}$"
                      required>
                    <div *ngIf="submitted && formControls(i).pincode.invalid">
                      <div>
                        <p *ngIf="formControls(i).pincode.errors.required" class="error">
                          {{validationMessages.RequiredField}}
                        </p>
                        <p *ngIf="formControls(i).pincode.errors.pattern" class="error">{{validationMessages.PinCode}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-primary" style="float: left;" (click)="previous()">Previous</button>
          <button type="submit" class="btn btn-success" style="float: right;" form="form[0]">Next</button>
        </div>
      </div>
    </div>

  </div>
</div>