<section class="bounceInRight">
  <div class="box1">
    <h2>Address Details</h2>
    <hr>
    <form>
      <div>
        <input type="text" placeholder="street/house no">
        <select>
          <option value="">Country</option>
        </select>
        <select>
          <option value="">State</option>
        </select>
        <select>
          <option value="">City</option>
        </select>
        <input type="text" placeholder="pin code">
        <div>
          <button class="previous">&laquo; Previous</button>
          <button class="next">Next &raquo;</button>
        </div>
      </div>
    </form>
  </div>
</section>