<div class='container'>
    <div class="box">
        <div class="box-title">
          <h2>Photo-Signature Details</h2>
        </div>
        <div class="box-body">
            <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
            <div class='row'> 
                <div class='col-lg-2 col-sm-5 offset-lg-1'>
                    <h5>Upload Photograph:</h5>
                    <img [src]="photoUrl" height="150" width="150" >
                    <input type='file' (change)="onSelectPhoto($event)">  
                </div>
              <div class='col-lg-2 col-sm-5 offset-lg-3'>
                  <h5>Upload Signature:</h5>
                  <img [src]="signUrl" height="150" width="150" >
                  <input type='file' (change)="onSelectSign($event)">  
              </div>
            </div>
            <div class="row text-right">
              <div class="col-md-12">
                <button type="submit" [disabled]="formGroup.invalid || formGroup.prestine" class="btn btn-success btn-lg" >Next</button>
              </div>
            </div>
            </form>
      </div>
</div>
